.minHeight {
    min-height: 100vm;
}


body> main {
    padding-bottom: 100vh;
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.form1 {
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgb(252, 252, 252);
}